{% extends "base/layout.html" %}

{% block title %}Enter security code{% endblock title %}
{% block content %}
{% load static %}

    {% include "components/header.html" %}

    <!-- Start Login -->
    <div class="login">
        <div class="container">
            <div class="title">
                <div>Enter security code</div>
                <div>
                    <p>Please check your emails for a message with your code.</p>
                </div>
            </div>

            <div id="login-form">
                <form action="" method="post">
                    {% csrf_token %}
                    {{form}}
                    
                    <div>
                        <label>
                            <p>
                                We sent your code to: 
                            </p>
                            
                            <span>
                                {{user.email}}
                            </span>
                        </label>
                        <input type="submit" value="Verify">
                    </div>

                </form>
            </div>
        </div>
    </div> 
    <!-- End Login -->

    {% include "components/footer.html" %}
    
{% endblock content %}