{% extends "base/layout.html" %}

{% block title %}Find Your Account{% endblock title %}
{% block content %}
{% load static %}

    {% include "components/header.html" %}

    <!-- Start Login -->
    <div class="login">
        <div class="container">
            <div class="title">
                <div>Find Your Account</div>
                <div>
                    <p>Please enter your email address to search for your account.</p>
                </div>
            </div>

            <div id="login-form">
                <form action="" method="post">
                    {% csrf_token %}
                    {{form}}
                    
                    <div>
                        <label>reset password * :</label>
                        <input type="submit" value="Reset">
                    </div>

                </form>
            </div>
        </div>
    </div> 
    <!-- End Login -->

    {% include "components/footer.html" %}
    
{% endblock content %}