{% extends "base/layout.html" %}

{% block title %}Change Your Password{% endblock title %}
{% block content %}
{% load static %}

    {% include "components/header.html" %}
    
    <!-- Start Login -->
    <div class="login">
        <div class="container">
            <div class="title">
                <div>Set Password</div>
                <div>
                    <p>Set your new password and save it</p>
                </div>
            </div>

            <div id="login-form">
                <form action="" method="post">
                    {% csrf_token %}
                    {{form}}
                    
                    <div>
                        <label>
                            Set your password
                        </label>
                        <input type="submit" value="Save">
                    </div>

                </form>
            </div>
        </div>
    </div> 
    <!-- End Login -->

    {% include "components/footer.html" %}
    
{% endblock content %}