{% extends "base/layout.html" %}

{% block title %}
    {% if product %}
            {{ product.product_name }}
    {% endif %}
{% endblock title %}
{% block content %}
{% load static %}

    {% include "components/header.html" %}

    <!-- Start Product Primary -->
    <div class="product-primary">
        <div class="container">
            <main>
                <div class="product-images">
                    <div class="image-slider__viewport">
                        {% if product_colors %}
                            {% for product_color in product_colors %}
                                <div class="image-slider__container" data-image-id="{{product_color.id}}">
                                    {% for product_img in product_color.product_images.all %}
                                        <img src="{{ product_img.product_image.url }}" alt="{{ product_img.product_image.url }}">
                                    {% endfor %}
                                </div>
                            {% endfor %}
                        {% else %}
                            <div class="image-slider__container" data-image-id="{{product_color.id}}">
                                <img src="{{ product.product_main_image.url }}" alt="{{ product_img.product_image.url }}">
                            </div>
                        {% endif %}
                    </div>

                    <div class="image-slider__navigation">
                        <i class="fa-solid fa-arrow-left prev"></i>
                        <i class="fa-solid fa-arrow-right next"></i>
                    </div>
                </div>
    
                <div class="product-info">
                    <div class="color-swatches">
                        <div class="color-swatches_title">Customize your device</div>
                        <div class="colors">
                            {% if product_colors %}
                                {% for product_color in product_colors %}
                                    <div class="color-swatche" data-color-id="{{product_color.id}}" style="background: {{product_color.color_hex}};"></div>
                                {% endfor %}
                            {% endif %}
                        </div>
                        
                    </div>
                    <div class="product-info_name">{{product.product_name}}</div>
                    <div class="reviews">
                        <div class="total-review">Total Reviews <span>{{product.total_rating}}</span></div>
                        <div class="trust-score">Trust Score <span>{{product.average_rating}}</span></div>
                    </div>
                    <div class="product-info_price">
                        <span class="price-number">{{product.product_price}} $</span>
                        <span class="delivery-time">DELIVERY IN 4-6 DAYS</span>
                    </div>
                    <div class="product-info_general_specifications">
                        <h3><span>RAM</span> & <span>Storage</span></h3>
                        <div>
                            <span>{{product.memorydetails.ram}}</span>
                            <span>{{product.memorydetails.storage}}</span>
                        </div>
                    </div>
                    <div class="product-info_buttons">

                        <button data-product="{{product.id}}" data-action="add" id="add-to-cart">
                            <i class="fa-solid fa-cart-shopping"></i>
                            <span>Add To Cart</span>
                        </button>

                        <form id="wishlist" action="{% url 'wishlist_handler' product.id %}" method="POST">
                            {% csrf_token %}
                            <i class="fa-solid fa-heart"></i>
                            <input type="submit" value="Wishlist">
                        </form>

                    </div>
                </div>
            </main>
            
            <!-- Start Product Entire Information -->
            <section id="product-entire-info">
                <ul class="product-entire-info-links">
                    <li class="product-entire-info-link active" data-name="specifications">Specifications</li>
                    <li class="product-entire-info-link" data-name="package-content">Package Content</li>
                    <li class="product-entire-info-link" data-name="video-review">Video & Review</li>
                    <li class="product-entire-info-link" data-name="about-product">Customers said</li>
                </ul>

                <div data-name="specifications" class="product-specifications-content dropdown active">
                    <h2>Specifications</h2>

                    {% if all_related_to_product %}

                        {% if product.network_features %}                    
                            <div class="specifications-content-networks">
                                <div class="specifications-content-network-name">Network:</div>
                                <ul>

                                    <li>
                                        <span>Technology: </span>
                                        <span>{{product.network_features.technology}}</span>
                                    </li>
                                    <li>
                                        <span>2G bands: </span>
                                        <span>{{product.network_features.two_g_bands}}</span>
                                    </li>
                                    <li>
                                        <span>3G bands: </span>
                                        <span>{{product.network_features.three_g_bands}}</span>
                                    </li>
                                    <li>
                                        <span>Speed: </span>
                                        <span>{{product.network_features.speed}}</span>
                                    </li>
                                    <li>
                                        <span>4G bands: </span>
                                        <span>{{product.network_features.four_bands}}</span>
                                    </li>
                                    <li>
                                        <span>5G: </span>
                                        <span>{{product.network_features.five_g_bands}}</span>
                                    </li>

                                </ul>
                            </div>
                        {% endif %}

                        {% if product.launchdetails %}                    
                            <div class="specifications-content-launch">
                                <div class="specifications-content-launch-name">Launch:</div>
                                <ul>
                                    <li>
                                        <span>Announced: </span>
                                        <span>{{product.launchdetails.announced}}</span>
                                    </li>
                                    <li>
                                        <span>Status: </span>
                                        <span>{{product.launchdetails.status}}</span>
                                    </li>
                                </ul>
                            </div>
                        {% endif %}

                        {% if product.bodydetails %}                    
                            <div class="specifications-content-body">
                                <div class="specifications-content-body-name">Body:</div>
                                <ul>
                                    <li>
                                        <span>Dimensions: </span>
                                        <span>{{product.bodydetails.dimensions}}</span>
                                    </li>
                                    <li>
                                        <span>Weight: </span>
                                        <span>{{product.bodydetails.weight}}g</span>
                                    </li>
                                    <li>
                                        <span>Build: </span>
                                        <span>{{product.bodydetails.build}}</span>
                                    </li>
                                    <li>
                                        <span>SIM: </span>
                                        <span>{{product.bodydetails.sim}}</span>
                                    </li>
                                </ul>
                            </div>
                        {% endif %}

                        {% if product.displaydetails %}                    
                            <div class="specifications-content-display">
                                <div class="specifications-content-display-name">Display:</div>
                                <ul>
                                    <li>
                                        <span>Type: </span>
                                        <span>{{product.displaydetails.display_type}}</span>
                                    </li>
                                    <li>
                                        <span>Size: </span>
                                        <span>{{product.displaydetails.display_size}}</span>
                                    </li>
                                    <li>
                                        <span>Resolution: </span>
                                        <span>{{product.displaydetails.display_resolution}}</span>
                                    </li>
                                </ul>
                            </div>
                        {% endif %}

                        {% if product.platformdetails %}                    
                            <div class="specifications-content-platform">
                                <div class="specifications-content-platform-name">Platform:</div>
                                <ul>
                                    <li>
                                        <span>OS: </span>
                                        <span>{{product.platformdetails.os}}</span>
                                    </li>
                                    <li>
                                        <span>Chipset: </span>
                                        <span>{{product.platformdetails.chipset}}</span>
                                    </li>
                                    <li>
                                        <span>CPU: </span>
                                        <span>{{product.platformdetails.cpu}}</span>
                                    </li>
                                    <li>
                                        <span>GPU: </span>
                                        <span>{{product.platformdetails.gpu}}</span>
                                    </li>
                                </ul>
                            </div>
                        {% endif %}
                            
                        {% if product.memorydetails %}
                            <div class="specifications-content-memory">
                                <div class="specifications-content-memory-name">Memory:</div>
                                <ul>
                                    <li>
                                        <span>Card slot: </span>
                                        <span>
                                            {% if product.memorydetails.memory_card_slot %}
                                                Yes
                                            {% else %}
                                                No
                                            {% endif %}
                                        </span>
                                    </li>
                                    <li>
                                        <span>Storage: </span>
                                        <span>{{product.memorydetails.storage}}</span>
                                    </li>
                                    <li>
                                        <span>Ram: </span>
                                        <span>{{product.memorydetails.ram}}</span>
                                    </li>
                                </ul>
                            </div>
                        {% endif %}

                        {% if product.soundfeatures %}                    
                            <div class="specifications-content-sound">
                                <div class="specifications-content-sound-name">Sound:</div>
                                <ul>
                                    <li>
                                        <span>Loudspeaker: </span>
                                        <span>{{product.soundfeatures.loudspeaker}}</span>
                                    </li>
                                    <li>
                                        <span>3.5mm jack: </span>
                                        <span>{{product.soundfeatures.jack_3_5mm}}</span>
                                    </li>
                                </ul>
                            </div>
                        {% endif %}

                        {% if product.communicationfeatures %}                    
                            <div class="specifications-content-comms">
                                <div class="specifications-content-comms-name">Comms:</div>
                                <ul>
                                    <li>
                                        <span>WLAN: </span>
                                        <span>{{product.communicationfeatures.wlan}}</span>
                                    </li>
                                    <li>
                                        <span>Bluetooth: </span>
                                        <span>{{product.communicationfeatures.bluetooth}}</span>
                                    </li>
                                    <li>
                                        <span>Radio: </span>
                                        <span>{{product.communicationfeatures.radio}}</span>
                                    </li>
                                    <li>
                                        <span>USB: </span>
                                        <span>{{product.communicationfeatures.usb}}</span>
                                    </li>
                                    <li>
                                        <span>NFC: </span>
                                        <span>{{product.communicationfeatures.nfc}}</span>
                                    </li>
                                    <li>
                                        <span>Comms: </span>
                                        <span>{{product.communicationfeatures.comms}}</span>
                                    </li>
                                </ul>
                            </div>
                        {% endif %}
                        
                        {% if product.batterydetails %}                    
                            <div class="specifications-content-battery">
                                <div class="specifications-content-battery-name">Battery:</div>
                                <ul>
                                    <li>
                                        <span>Charging: </span>
                                        <span>{{product.batterydetails.Charging}}</span>
                                    </li>
                                    <li>
                                        <span>Type: </span>
                                        <span>{{product.batterydetails.battery_type}}</span>
                                    </li>
                                </ul>
                            </div>
                        {% endif %}

                        {% if product.mainCameradetails %}                    
                            <div class="specifications-content-main-camera">
                                <div class="specifications-content-main-camera-name">Main Camera:</div>
                                <ul>
                                    <li>
                                        <span>Features: </span>
                                        <span>{{product.mainCameradetails.main_camera_features}}</span>
                                    </li>
                                    <li>
                                        <span>Video: </span>
                                        <span>{{product.mainCameradetails.main_camera_video}}</span>
                                    </li>
                                    <li>
                                        <span>Dual: </span>
                                        <span>{{product.mainCameradetails.main_camera_dual}}</span>
                                    </li>
                                </ul>
                            </div>
                        {% endif %}

                        {% if product.selfiecameradetails %}                    
                            <div class="specifications-content-selfie">
                                <div class="specifications-content-selfie-name">Selfie Camera:</div>
                                <ul>
                                    <li>
                                        <span>Single: </span>
                                        <span>{{product.selfiecameradetails.selfie_camera_single}}</span>
                                    </li>
                                    <li>
                                        <span>Video: </span>
                                        <span>{{product.selfiecameradetails.selfie_camera_video}}</span>
                                    </li>
                                    <li>
                                        <span>Features: </span>
                                        <span>{{product.selfiecameradetails.selfie_camera_features}}</span>
                                    </li>
                                </ul>
                            </div>
                        {% endif %}
                    {% else %}
                        <p>There is no Specifications for this product</p>
                    {% endif %}
                </div>

                <div data-name="package-content" class="product-package-content dropdown">
                    <h2>Package Content</h2>
                    <ul>
                        <li>
                            {% if product.packagecontent %}
                                {{product.packagecontent.includes}}
                            {% else %}
                                No Package Content available
                            {% endif %}
                        </li>
                    </ul>
                </div>

                <div data-name="video-review" class="product-video-review-content dropdown">
                    <h2>Video & Review</h2>

                    {% if product.videoreview %}
                        <div class="video-container">
                            {% if product.videoreview.frame_link %}
                                <iframe src="{{product.videoreview.frame_link}}" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                            {% endif %}
                        </div>
                    {% else %}
                        No video reviews yet
                    {% endif %}

                </div>

                <div data-name="about-product" class="product-about-product dropdown">
                    <h2>Our customers said</h2>
                    <div class="customer-reviews">
                        {% if product_reviews %}
                            {% for product_review in product_reviews %}                        
                                <div class="customer-review">
                                    <div class="customer-image">
                                        <img src="{{product_review.reviewer.avatar.url}}" alt="">
                                    </div>
                                    <div class="customer-info">
                                        <div class="customer-name">{{product_review.reviewer.get_username}}</div>
                                        <div class="customer-stars">
                                            {% if product_review.score == 1 %}
                                                <i style='color: var(--main-green);' class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                            {% elif product_review.score == 2 %}
                                                <i style='color: var(--main-green);' class="fas fa-star"></i>
                                                <i style='color: var(--main-green);' class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                            {% elif product_review.score == 3 %} 
                                                <i style='color: var(--main-green);' class="fas fa-star"></i>
                                                <i style='color: var(--main-green);' class="fas fa-star"></i>
                                                <i style='color: var(--main-green);' class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>   
                                            {% elif product_review.score == 4 %}
                                                <i style='color: var(--main-green);' class="fas fa-star"></i>
                                                <i style='color: var(--main-green);' class="fas fa-star"></i>
                                                <i style='color: var(--main-green);' class="fas fa-star"></i>
                                                <i style='color: var(--main-green);' class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>  
                                            {% elif product_review.score == 5 %}
                                                <i style='color: var(--main-green);' class="fas fa-star"></i>
                                                <i style='color: var(--main-green);' class="fas fa-star"></i>
                                                <i style='color: var(--main-green);' class="fas fa-star"></i>
                                                <i style='color: var(--main-green);' class="fas fa-star"></i> 
                                                <i style='color: var(--main-green);' class="fas fa-star"></i> 
                                            {% endif %}
                                        </div>
                                        <div class="customer-review-text">{{product_review.content}}</div>
                                    </div>
                                </div>
                            {% endfor %}
                        {% else %}
                            <p>There is no review for this product yet</p>      
                        {% endif %}
                    </div>
                    <form action="{% url 'review_handler' product.id %}" id="add-review-form" method="post">
                        {% csrf_token %}
                        <textarea placeholder="Leave a Comment" name="content" id="" required ></textarea>
                        <select id="rating" name="rating">
                            <option selected value="5">★★★★★</option>
                            <option value="4">★★★★☆</option>
                            <option value="3">★★★☆☆</option>
                            <option value="2">★★☆☆☆</option>
                            <option value="1">★☆☆☆☆</option>
                        </select>
                        <button type="submit">Submit Review</button>
                    </form>
                </div>

            </section>
            <!-- End Product Entire Information -->


        </div>
    </div>
    <!-- End Product Primary -->

    {% include "components/footer.html" %}


    <script>

        const sliderHandler = () => {
            const sliderImageContainerHandler = (containers) => {
                let target;
                containers.forEach((container) => {
                    if (container.classList.contains('active')) target = container;
                });
        
                return target;
        
            };
            const sliderViewport = document.querySelector('.image-slider__viewport');
            const sliderImageContainer = sliderImageContainerHandler(Array.from(document.querySelectorAll('.image-slider__container')));
            const numOfSliderImages = sliderImageContainer.querySelectorAll('img').length;
        
            let sliderOffset = 0;
            const moveSlides = offset => {
                const imageWidth = sliderImageContainer.querySelector('img').offsetWidth;
                sliderImageContainer.style.transform = `translateX(-${offset * imageWidth}px)`;
            };
        
            setInterval(() => {
                sliderOffset = sliderOffset < numOfSliderImages - 1 ? sliderOffset + 1 : 0;
                moveSlides(sliderOffset)
            }, 100000);
        
            const prevButton = document.querySelector('.product-primary .prev');
            const nextButton = document.querySelector('.product-primary .next');
        
            prevButton.addEventListener("click", () => {
                sliderOffset = sliderOffset > 1 ? sliderOffset - 1 : numOfSliderImages -1;
                moveSlides(sliderOffset)
            });
        
            nextButton.addEventListener("click", () => {
                sliderOffset = sliderOffset < numOfSliderImages - 1 ? sliderOffset + 1 : 0;
                moveSlides(sliderOffset);
            });
        };

        const sliderImageContainers = Array.from(document.querySelectorAll('.image-slider__container')),
        firstContainer = sliderImageContainers[0],
        colorSwatches = Array.from(document.querySelectorAll('.color-swatches .color-swatche')),
        firstSwatche = colorSwatches[0];

        try {            
            firstContainer.classList.add('active');
            firstSwatche.classList.add('active');
        } catch (error) {
            console.log('The Product does not have colors swatches yet');
        }
    
    
        colorSwatches.forEach(colorSwatche => {
            colorSwatche.addEventListener("click", (e) => {
                let targetElem = e.target,
                    targetElemAttr = targetElem.getAttribute('data-color-id');
        
                colorSwatches.forEach((elem) => {
                    elem.classList.remove('active');
                });
        
                targetElem.classList.add('active');
        
                sliderImageContainers.forEach((sliderImageContainer) => {
                    sliderImageContainers.forEach((elem) => {
        
                        if (elem.getAttribute('data-image-id') == targetElemAttr) {
                            elem.classList.add('active');
                        } else {
                            elem.classList.remove('active');
                        } 
                    });
                    
                });
                
                sliderHandler();
            });
        });
        
        sliderHandler();

        document.querySelector('section#product-entire-info .product-package-content ul li').innerHTML = document.querySelector('section#product-entire-info .product-package-content ul li').innerText.replaceAll('-', '</br>')


        const productEntireInfoLinks = Array.from(document.querySelectorAll('section#product-entire-info .product-entire-info-links .product-entire-info-link')),
            productEntireInfoDropDowns = Array.from(document.querySelectorAll('section#product-entire-info .dropdown'));


        const productEntireInfoLinksHandler = (productEntireInfoLinks, productEntireInfoDropDowns) => {
            productEntireInfoLinks.forEach((productEntireInfoLink) => {
                productEntireInfoLink.addEventListener("click", (e) => {
                    let targetElement = e.target;
                    productEntireInfoLinks.forEach((elem) => {
                        elem.classList.remove('active');
                    });
                    productEntireInfoDropDowns.forEach((dropDown) => {
                        dropDown.classList.remove('active');
                        if (dropDown.getAttribute('data-name') == targetElement.getAttribute('data-name')) {
                            dropDown.classList.add('active')
                        } else {
                            dropDown.classList.remove('active')
                        }
                    });
                    targetElement.classList.add('active');
                });
            });
        };
        productEntireInfoLinksHandler(productEntireInfoLinks, productEntireInfoDropDowns);

    </script>
    
    <script type="module">
        const addToCardButton = document.getElementById('add-to-cart');
        import { cartHandler } from '{% static "js\module.js" %}';
        
        addToCardButton.addEventListener("click", (e) => cartHandler(e.target.tagName === 'SPAN' || e.target.tagName === 'I' ? e.target.parentElement : e.target))
    </script>

{% endblock content %}
