{% load static %}
    <!-- Start Footer -->
    <div class="footer">
        <div class="container">

            <!-- Start User Subscription -->
            <div id="subscription">
                <div class="logo">
                    <a href="#">TechHaven</a>
                    <span>Good Offers</span>
                </div>

                <div class="subscription-form">
                    <form action="" method="post">
                        <input type="email" name="email-subscription" id="email-subscription" placeholder="Email">
                        <input type="submit" id="submit-subscription" value="Subscribe Now">
                    </form>
                </div>

                <div class="social-icons">
                    <a href="" class="link">
                        <i class="fa-brands fa-facebook"></i>
                    </a>
                    <a href="" class="link">
                        <i class="fa-brands fa-square-twitter"></i>
                    </a>
                    <a href="" class="link">
                        <i class="fa-brands fa-linkedin"></i>
                    </a>
                </div>

            </div>
            <!-- End User Subscription -->

            <!-- Start About us -->
            <div id="about">

                <div class="box">
                    <h3>Why People Like us!</h3>
                    <ul class="informations">
                        <li class="information">Reliable prices & high quality products.</li>
                        <li class="information">Steady prices & high-grade merchandise.</li>
                        <li class="information">Reliable rates & top-notch products.</li>
                        <li class="information">Consistent value & premium quality items.</li>
                    </ul>
                    <a href="" class="read-more-button">Read More</a>
                </div>

                <div class="box">
                    <h3>Shop Info</h3>
                    <ul class="shop-links">
                        <li class="shop-link">
                            <a href="">About us</a>
                        </li>
                        <li class="shop-link">
                            <a href="">Contact us</a>
                        </li>
                        <li class="shop-link">
                            <a href="">Privacy Policy</a>
                        </li>
                        <li class="shop-link">
                            <a href="">Terms & Conditions</a>
                        </li>
                        <li class="shop-link">
                            <a href="">Return Policy</a>
                        </li>
                        <li class="shop-link">
                            <a href="">FQS & Help</a>
                        </li>
                    </ul>
                </div>

                <div class="box">
                    <h3>Account</h3>
                    <ul class="account-links">
                        <li class="account-link">
                            <a href="">My Account</a>
                        </li>
                        <li class="account-link">
                            <a href="">Shop Details</a>
                        </li>
                        <li class="account-link">
                            <a href="">Shopping Cart</a>
                        </li>
                        <li class="account-link">
                            <a href="">Wishlist</a>
                        </li>
                        <li class="account-link">
                            <a href="">Order History</a>
                        </li>
                        <li class="account-link">
                            <a href="">International Orders</a>
                        </li>
                    </ul>
                </div>

                <div class="box">
                    <h3>Contact</h3>
                    <ul class="contact-links">
                        <li class="contact-link">Address: 1429 New York Rd, NY 48247</li>
                        <li class="contact-link">Email: ayoubhost0@gmail.com</li>
                        <li class="contact-link">Phone: +212643313275</li>
                    </ul>
                    <div class="payment-options">
                        <div >Payment Accepted</div>
                        <img src="{% static "images\payment-options\payment.png" %}" alt="">
                    </div>
                </div>
            </div>
            <!-- End About us -->
            <!-- Start Author Information -->
            <div id="author-info">
                <div class="col">
                    <i class="fas fa-copyright text-light me-2"></i>
                    <a href="#">TechHaven</a>, All right reserved.
                </div>
                <div class="col">
                    Designed By
                    <a href="https://www.linkedin.com/in/ayoub-belghoul-38bab4320/">Ayoub</a> :)
                    <a href="https://www.linkedin.com/in/ayoub-belghoul-38bab4320/">Contact me</a>
                </div>
            </div> 
            <!-- End Author Information -->
        </div>
    </div>
    <!-- End Footer -->